
h1{
    text-align: center;
    color: var(--clr-light)
}
.post {
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 300px #00000020;
    border-radius: 5px;
    width: 80%;
    /* border-color: var(--clr-light); */
    border: solid var(--clr-light)
}

.post__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post__info {
    display: flex;
    flex-direction: column;
}

.post__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.post__content {
    font-size: 14px;
    line-height: 1.5;
    color: var(--clr-light);
    margin-bottom: 20px;
    font-size: var(--size-large);

}

.post__actions {
    position: relative;
    display: flex;
    justify-content:flex-start;

}

.post__likes, .post__dislikes {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: var(--clr-light)
}
input {
    outline: none;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    box-shadow: 0 0 8px var(--clr-slate800);
    display: block;
    margin: 10px auto;
}
.view{
    font-style: italic;
}
.comment {
    padding: 10px;
    border: 1px solid var(--clr-light);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    transition: color 0.3s;

}

.comment:hover .name{
    color: var(--clr-rose);
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}



.message {
    padding: 10px;
    /* background: #f2f2f2; */
    border-radius: 4px;
    margin-bottom: 10px;
    
}

.likes-dislikes {
    position: relative;
    display: flex;
    justify-content:flex-start;

}

.likes, .dislikes {
    font-weight: bold;
}

.btn{
    border-radius: 50px;
    width: 300px;
}

.flex-create-comment{
    display: flex;
    justify-content:space-between;
}

.pointer-event{
    pointer-events: none;
}